{% extends 'app/base.html' %}
{% block content %}

  <!-- Featured Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Women Products</span>
    </h2>
    <div class="row px-xl-5">
       
        {% for w in women %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{ w.product_image.url }}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">{{w.brand}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>${{w.discounted_price}}</h5><h6 class="text-muted ml-2"><del>${{w.selling_price}}</del></h6>
                       
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-2">
                       
                        <h6 class="mb-0 mr-3">
                            <strong>Size:</strong> <span class="badge badge-primary">{{ w.size }}</span>
                        </h6>
                       
                        <h6 class="mb-0">
                            <strong>Colour:</strong> <span class="badge badge-info">{{ w.colour }}</span>
                        </h6>
                    </div>
                    
                    
                    <p class="text-justify mt-3">
                        {{ w.description|truncatewords:20 }}
                        <a href="#" class="text-secondary">Read more</a>
                    </p>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Featured End -->


{% endblock %}